extends layout

block content
    ul
    h1= 'Package Overview:'
    
    each detail in package
        h1 Package Name: #{detail.pkgName}
        h1= 'Details'
        h3= details
        h2 seats left: #{detail.seats}
     
        
